article h1:first-child, article h2:first-child, article h3:first-child, article h4:first-child {
    margin-top: 0;
}

body {
    font-size: 16px;
}

.summary
{ 
    font-size: 16px;
}

.h1, h1 {
    font-size: 30px;
}

.h5, h5 {
    font-weight: 600;
    margin-top: 15px;
}

.h6, h6 {
    font-size: 16px;
}

.navbar-brand {
    padding-top: 12px;
    padding-right: 3em;
}

article h1, article h2, article h3, article h4 {
    margin-top: 25px;
    font-weight: 600;
}

article h4 {
    border-bottom: none;
    padding-bottom: 5px;
}

.implements div:before {
    content: '→';
    margin-right: 5px;
}

.table {
    margin-bottom: 0;
}

.nowrap {
    white-space: nowrap;
}

.sidetoc.shiftup {
    bottom: 50px;
}